[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
tokio = { version = "1.49.0", features = ["full"] }
rustls = { version = "0.23.35", default-features = false, features = ["aws-lc-rs"] }
