name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  crates-build:
      name: Build and test on ${{ matrix.os }}
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
          rust: [stable]

      steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Set up Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1

        - name: Cache cargo
          uses: actions/cache@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target
            key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            restore-keys: ${{ runner.os }}-cargo-
        - name: Clippy
          run: cargo clippy --workspace --all-targets --verbose -- -D warnings

        - name: Build
          run: cargo build --workspace --all-targets --verbose

        - name: Test
          run: cargo test --workspace --all-targets --verbose

  docker-build:
    if: github.event_name != 'pull_request'
    needs: [build-crates]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read    
    steps:
      - uses: actions/checkout@v5
      - run: |
          REF_NAME="${{ github.ref_name }}"          
          REF_NAME_LOWER=$(echo "$REF_NAME" | tr '[:upper:]' '[:lower:]')          
          REF_NAME_CLEAN=$(echo "$REF_NAME_LOWER" | tr -cd '[:alnum:]._-')          
          REF_NAME_CLEAN=$(echo "$REF_NAME_CLEAN" | sed 's/^[^a-z0-9]*//;s/[^a-z0-9]*$//')          
          if [[ ! "$REF_NAME_CLEAN" =~ ^[a-z0-9] ]]; then
            REF_NAME_CLEAN="0$REF_NAME_CLEAN"
          fi          
          echo "CLEANED_REF_NAME=$REF_NAME_CLEAN" >> $GITHUB_ENV      
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - uses: docker/build-push-action@v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/rusty-relay:latest,ghcr.io/${{ github.repository_owner }}/rusty-relay:${{ github.ref_name }}
      - uses: docker/build-push-action@v6
        if: startsWith(github.ref, 'refs/heads/')
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/rusty-relay:${{ env.CLEANED_REF_NAME }}
