name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  crates-clippy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Clippy
        run: cargo clippy --workspace --all-targets --verbose -- -D warnings  


  crates-build:
      name: Build and Test (${{ matrix.os }} - ${{ matrix.target }})
      needs: crates-clippy
      runs-on: ${{ matrix.os }}
      strategy:
        fail-fast: false
        matrix:
          include:
            # Linux
            - os: ubuntu-latest
              target: x86_64-unknown-linux-gnu
              arch: x86_64
              platform: linux
            # macOS
            - os: macos-latest
              target: x86_64-apple-darwin
              arch: x86_64
              platform: macos
            - os: macos-latest
              target: aarch64-apple-darwin
              arch: arm64
              platform: macos
            # Windows
            - os: windows-latest
              target: x86_64-pc-windows-msvc
              arch: x86_64
              platform: windows

      steps:
        - name: Checkout repository
          uses: actions/checkout@v5
              
        - name: Set up Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            targets: ${{ matrix.target }}

        - name: Cache cargo
          uses: actions/cache@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target/${{ matrix.target }}
            key: ${{ runner.os }}-${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            restore-keys: ${{ runner.os }}-${{ matrix.target }}-cargo-       

        - name: Update rusty-relay-client with version
          if: startsWith(github.ref, 'refs/tags/')
          run: |
            perl -pi -e "s/\{\{version\}\}/${{ github.ref_name }}/g" "crates/relay-client/src/version.rs"

        - name: Build
          run: cargo build --workspace --release --target ${{ matrix.target }}

        - name: Test
          run: cargo test --workspace --target ${{ matrix.target }}

        - name: Package binaries
          if: startsWith(github.ref, 'refs/tags/')
          shell: bash
          run: |
            mkdir -p dist
            for crate in rusty-relay-client rusty-relay-server; do
              bin="target/${{ matrix.target }}/release/$crate"
              if [[ "${{ matrix.platform }}" == "windows" ]]; then
                bin="${bin}.exe"
                zip_name="${crate}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.zip"
                7z a "dist/${zip_name}" "${bin}" > /dev/null
              else
                zip_name="${crate}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz"
                tar -czf "dist/${zip_name}" -C "$(dirname "${bin}")" "$(basename "${bin}")"
              fi
            done

        - name: Upload rusty-relay-client artifact
          if: startsWith(github.ref, 'refs/tags/')
          uses: actions/upload-artifact@v5
          with:
            name: "rusty-relay-client-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}"
            path: "dist/rusty-relay-client-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.*"

        - name: Upload rusty-relay-server artifact
          if: startsWith(github.ref, 'refs/tags/')
          uses: actions/upload-artifact@v5
          with:
            name: "rusty-relay-server-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}"
            path: "dist/rusty-relay-server-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.*"
  
  crates-io-release:
        if: startsWith(github.ref, 'refs/tags/')
        needs: crates-build
        runs-on: ubuntu-latest
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }} 

        steps:
          - name: Checkout repository
            uses: actions/checkout@v5

          - name: Install Rust
            uses: dtolnay/rust-toolchain@stable

          - name: Copy README.md to all crates
            run: |
              for dir in crates/*/; do
                if [ -d "$dir" ]; then
                  cp README.md "$dir"
                  echo "Copied README.md to $dir"
                fi
              done

          - name: Update relay-messages version
            run: |
              version=${{ github.ref_name }}
              toml="crates/relay-messages/Cargo.toml"
              sed -i "s/^version = \".*\"/version = \"$version\"/" $toml

          - name: Publish relay-messages
            run: |
              cd crates/relay-messages
              cargo publish --allow-dirty --no-verify

          - name: Update relay-client and relay-server
            run: |
              version=${{ github.ref_name }}
              
              for crate in relay-client relay-server; do
                toml="crates/$crate/Cargo.toml"

                sed -i "s/^version = \".*\"/version = \"$version\"/" $toml

                sed -i "s#relay-messages = { path = \"\.\./relay-messages\" }#relay-messages = \"$version\"#" $toml
              done

          - name: Publish relay-client
            run: |
              cd crates/relay-client
              cargo publish --allow-dirty --no-verify

          - name: Publish relay-server
            run: |
              cd crates/relay-server
              cargo publish --allow-dirty --no-verify

  crates-gh-release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: crates-build
    runs-on: ubuntu-latest
    permissions:
      contents: write    

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            artifacts/*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  homebrew-release:
        if: startsWith(github.ref, 'refs/tags/')
        needs: crates-gh-release
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v5

          - name: Set up variables
            id: vars
            run: |
              VERSION=${{ github.ref_name }}
              echo "VERSION=$VERSION" >> $GITHUB_ENV

              MACOS_INTEL_URL="https://github.com/larscom/rusty-relay/releases/download/$VERSION/rusty-relay-client-$VERSION-macos-x86_64.tar.gz"
              MACOS_ARM_URL="https://github.com/larscom/rusty-relay/releases/download/$VERSION/rusty-relay-client-$VERSION-macos-arm64.tar.gz"
              LINUX_INTEL_URL="https://github.com/larscom/rusty-relay/releases/download/$VERSION/rusty-relay-client-$VERSION-linux-x86_64.tar.gz"

              echo "MACOS_INTEL_URL=$MACOS_INTEL_URL" >> $GITHUB_ENV
              echo "MACOS_ARM_URL=$MACOS_ARM_URL" >> $GITHUB_ENV
              echo "LINUX_INTEL_URL=$LINUX_INTEL_URL" >> $GITHUB_ENV

          - name: Download release artifacts
            run: |
              curl -L -o macos-intel.tar.gz "$MACOS_INTEL_URL"
              curl -L -o macos-arm.tar.gz "$MACOS_ARM_URL"
              curl -L -o linux-intel.tar.gz "$LINUX_INTEL_URL"

          - name: Compute SHA256
            run: |
              SHA256_MACOS_INTEL=$(sha256sum macos-intel.tar.gz | awk '{print $1}')
              SHA256_MACOS_ARM=$(sha256sum macos-arm.tar.gz | awk '{print $1}')
              SHA256_LINUX_INTEL=$(sha256sum linux-intel.tar.gz | awk '{print $1}')

              echo "SHA256_MACOS_INTEL=$SHA256_MACOS_INTEL" >> $GITHUB_ENV
              echo "SHA256_MACOS_ARM=$SHA256_MACOS_ARM" >> $GITHUB_ENV
              echo "SHA256_LINUX_INTEL=$SHA256_LINUX_INTEL" >> $GITHUB_ENV

          - name: Checkout homebrew tap
            uses: actions/checkout@v3
            with:
              repository: larscom/homebrew-tap
              token: ${{ secrets.HOMEBREW_TAP_PAT }}
              path: homebrew-tap

          - name: Update Formula from template
            run: |
              TEMPLATE="$(cat formula/template.rb)"

              FORMULA="${TEMPLATE//\{\{version\}\}/$VERSION}"
              FORMULA="${FORMULA//\{\{sha256_macos_intel\}\}/$SHA256_MACOS_INTEL}"
              FORMULA="${FORMULA//\{\{sha256_macos_arm\}\}/$SHA256_MACOS_ARM}"
              FORMULA="${FORMULA//\{\{sha256_linux_intel\}\}/$SHA256_LINUX_INTEL}"

              echo "$FORMULA" > homebrew-tap/Formula/rusty_relay_client.rb

          - name: Commit and push
            run: |
              cd homebrew-tap
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git add Formula/rusty_relay_client.rb
              git commit -m "Update rusty_relay_client.rb to version $VERSION"
              git push         

  docker-ghcr-release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: crates-build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read    
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - uses: docker/build-push-action@v6        
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/rusty-relay:latest,ghcr.io/${{ github.repository_owner }}/rusty-relay:${{ github.ref_name }}
          build-args: VERSION_ARG=${{ github.ref_name }}
 